<div class="pagination">
  <div class="pagination-info">
    <% if collection.present? %>
      <p>Page <%= collection.current_page %> of <%= collection.total_pages %></p>
    <% end %>
  </div>

  <div class="pagination-links">
    <%= paginate collection %>
  </div>
</div>
